<div class="form--field -required">
  <%= f.text_field :identifier, :required => true, container_class: '-middle' %>
</div>
<div class="form--field -required">
  <%= f.text_field :date, :size => 10, :required => true, class: "-augmented-datepicker", container_class: '-middle'%>
</div>
<div class="form--field"><%= f.text_field :authors, container_class: '-middle' %></div>
<div class="form--field"><%= f.text_field :url, container_class: '-middle' %></div>

<div class="form--field">
  <label class="form--label" for="license_version_text"><%= t(:text) %></label>
  <span class="form--field-container">
    <span class="form--text-area-container">
      <%
        name, value, id =
          if @license_version
            ['license_version[text]', @license_version['text'], 'license_version_text']
          else
            ['license[versions_attributes][0][text]', nil, 'license_versions_attributes_0_text']
          end
      %>

      <%= text_area_tag name, value, cols: 100, rows: 25, class: 'wiki-edit', accesskey: accesskey(:edit) %>
      <%= wikitoolbar_for id %>
    </span>
  </span>
</div>
